@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

:root{
    --main-color: green;
    --gradient: linear-gradient(80deg,  green,  gray);
    --dark-green: rgb(9, 44, 9);
}
 
a {
    color: green !important;
}
.brand-logo {
    font-family: 'Grand Hotel', cursive;
    text-shadow: 1px 1px rgb(239, 243, 239);
}
.nav-wrapper {
    background:linear-gradient(88deg,  rgb(39, 70, 39),  rgb(59, 50, 50));
}